---
import "../../styles/global.css";
---

<h2>Transcriptions</h2>
<div class="post-item">
  <a class="title" href="#" target="_blank" rel="noopener nofollow noreferrer">
    Spiraling Prism
  </a>
  <span class="subtitle">Herbie Hancock</span>
</div>
<div class="post-item">
  <a class="title" href="#" target="_blank" rel="noopener nofollow noreferrer">
    Corridor of Chameleons
  </a>
  <span class="subtitle">Meshuggah</span>
</div>
<div class="post-item">
  <a class="title" href="#" target="_blank" rel="noopener nofollow noreferrer">
    Everything All at Once
  </a>
  <span class="subtitle">Annex Void</span>
</div>
