---
import Layout from "../../layouts/Layout.astro";
import BlogContent from "./blog-content.astro";

interface Props {
  inline?: boolean;
}

const { inline = false } = Astro.props;
---

{
  inline ? (
    <div class="inline">
      <BlogContent />
    </div>
  ) : (
    <Layout title="Blog - Rob Kokochak">
      <BlogContent />
    </Layout>
  )
}

<style>
  .inline {
    margin-bottom: 2.5rem;
  }
</style>
