---
import Layout from "../../layouts/Layout.astro";
import MusicContent from "./music-content.astro";

interface Props {
  inline?: boolean;
}

const { inline = false } = Astro.props;
---

{
  inline ? (
    <div>
      <MusicContent />
    </div>
  ) : (
    <Layout title="Music - Rob Kokochak">
      <MusicContent />
    </Layout>
  )
}
