---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import "../../styles/global.css";

const posts = (await getCollection("music"))
  .filter((p) => !p.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<h2>Music</h2>
{
  posts.map((post) => (
    <div class="post-item">
      <a href={`/music/${post.slug}/`}>
        <h2 class="title">{post.data.title}</h2>
      </a>
      <span class="subtitle">
        <FormattedDate date={post.data.pubDate} />
      </span>
    </div>
  ))
}
