---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Contact - Rob Kokochak">
  <h1>Contact</h1>
  <p>
    Please feel free to reach out if you have any questions or if you'd like to
    work on something together. You can reach me at robkokochak.dev@gmail.com,
    or feel free to send me a connection request on LinkedIn.
  </p>
</Layout>
