---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Blog from "./blog/index.astro";
import Projects from "./projects/index.astro";
---

<Layout title="Rob Kokochak">
  <h1>Rob Kokochak</h1>

  <div class="banner">
    <p>
      Hello, I'm Rob. I'm currently a full-stack engineer at <a
        href="https://ascentcloud.io/"
        target="_blank"
        rel="noopener nofollow noreferrer"
        aria-label="Link to ascentcloud.io.">Ascent Cloud</a
      >, and I play guitar in a progressive metal band called
      <a
        href="https://www.annexvoid.com/"
        target="_blank"
        rel="noopener nofollow noreferrer"
        aria-label="Link to annexvoid.com.">Annex Void</a
      >.
    </p>

    <p>
      This is my personal website, where I'll share some of my thoughts on
      software engineering and music. You'll also find some of my personal
      projects linked below.
    </p>
  </div>
  <Blog inline={true} />
  <Projects inline={true} />
</Layout>
