---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Blog from "./blog/index.astro";
import Projects from "./projects/index.astro";
---

<Layout title="Rob Kokochak">
    <h1>Rob Kokochak</h1>

    <div class="banner">
        <p>
            Hello, I'm Rob. This is my personal website, where I'll share some of my thoughts on
            software and music. If you're interested to get in touch, please feel
            free to reach out at any of the contact links above.
        </p>
    </div>
    <Blog inline={true} />
    <Projects inline={true} />
</Layout>
