---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Rob Kokochak">
  <h1>Rob Kokochak</h1>

  <p>
    Hello, I'm Rob, a software engineer and musician. I'm currently a full-stack
    engineer at <a
      href="https://ascentcloud.io/"
      target="_blank"
      rel="noopener nofollow noreferrer"
      aria-label="Link to ascentcloud.io.">Ascent Cloud</a
    >. I also play guitar in a progressive metal band called
    <a
      href="https://www.annexvoid.com/"
      target="_blank"
      rel="noopener nofollow noreferrer"
      aria-label="Link to annexvoid.com.">Annex Void</a
    >.
  </p>
</Layout>
