---
import GithubLink from "./GithubLink.astro";
import LinkedInLink from "./LinkedInLink.astro";
---

<hr />

<footer>
    <div>
        <GithubLink />
        <LinkedInLink />
    </div>

    <small>
        <strong>© Rob Kokochak / 2024</strong>
    </small>
</footer>

<style>
    footer div a {
        margin-right: 5px;
    }
</style>
