---
import GithubLink from "./GithubLink.astro";
import LinkedInLink from "./LinkedInLink.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <div>
    <GithubLink />
    <LinkedInLink />
  </div>

  <small>
    <strong>© Rob Kokochak / {currentYear}</strong>
  </small>
</footer>

<style>
  footer {
    margin-top: 2.5rem;
  }
  footer div a {
    margin-right: 5px;
  }
</style>
