---
import "../../styles/global.css";
---

<h1>Projects</h1>
<div>
  <a href="#" target="_blank" rel="noopener nofollow noreferrer">
    project 1
  </a>{" "}
  - Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, similique!
</div>
<div>
  <a href="#" target="_blank" rel="noopener nofollow noreferrer">
    project 2
  </a>{" "}
  - Lorem ipsum dolor sit amet consectetur adipisicing elit.
</div>
