---
import "../../styles/global.css";
---

<h2>Projects</h2>
<div class="post-item">
  <a class="title" href="#" target="_blank" rel="noopener nofollow noreferrer">
    Lightweight Metronome
  </a>
  <span class="subtitle">SwiftUI</span>
</div>
<div class="post-item">
  <a class="title" href="#" target="_blank" rel="noopener nofollow noreferrer">
    Priori
  </a>
  <span class="subtitle">Go</span>
</div>
<div class="post-item">
  <a class="title" href="#" target="_blank" rel="noopener nofollow noreferrer">
    Scale Practice Generator
  </a>
  <span class="subtitle">Python</span>
</div>
